<footer>
    <div class="footer-container footer-1">
        <div class="footer-subContainer">
            <a class="logo logo-footer" href="/">STW</a>
            <h4 class="footer-h4">Show The World Digital</h4>
        </div>

        <div class="footer-subContainer footer-3">
            <h4 class="footer-h4">Look Around</h4>
            <nav class="footer-nav">
                <ul>
                    <li><a href="/">Home</a></li>
                    <li><a href="about">About Us</a></li>
                    <li><a href="services">Our Services</a></li>
                    <li><a href="contact">Contact Us</a></li>
                </ul>
            </nav>
        </div>

        <div class="footer-subContainer">
            <!-- <h4 class="footer-h4">A Little About Us</h4> -->
            <p class="footer-p">Show the World Digital: Where websites aren't just tools, they're your business's secret weapon. Quick-loading, SEO-smart, and tailored for Canadian small businesses. Expect more than just a pretty page – we deliver results without the fluff.</p>
        </div>
    </div>
    <div class="footer-seperator"></div>
    <small class="footer-small">Copyright 2023 Show The World. All rights reserved.</small>
</footer>