<section class="ctaCard">
        <h2 class="h2-2">Start<br>Your<br>Project</h2>
        <a href="/contact#form" class="--b-1">Let's Get In Touch</a>

        <div class="container">
            <div>Show The World Show The World Show The World</div>
            <div>Show The World Show The World Show The World</div>
            <div>Show The World Show The World Show The World</div>
        </div>
</section>