<footer class="colorInverse">
    <div class="footer-container footer-1">
        <div class="footer-subContainer">
            <a class="logo logo-footer colorMain" href="/">STW</a>
            <h4 class="footer-h4">Show The World Digital</h4>
        </div>

        <div class="footer-subContainer footer-3 --spread-1">
            <h4 class="footer-h4">Look Around</h4>
            <nav class="footer-nav">
                <ul class="--spread-1">
                    <li><a href="/">Home</a></li>
                    <li><a href="/about">About Us</a></li>
                    <li><a href="/services">Our Services</a></li>
                    <li><a href="/blog">Our Blog</a></li>
                    <li><a href="/contact">Contact Us</a></li>
                </ul>
            </nav>
        </div>

        <div class="footer-subContainer --spread-1">
            <h4 class="footer-h4">A Little About Us</h4>
            <p class="footer-p">Crafting custom websites for trades and home improvement businesses. Tailored designs, hard-coded, and SEO-optimized to highlight your unique services. Simple, effective, and straight to the point. Let's make your business stand out.</p>
        </div>
    </div>
    <div class="footer-seperator"></div>
    <small class="footer-small">Copyright 2023 Show The World. All rights reserved.</small>
</footer>