/*************************************************************************/
/*************************** GLOBAL STYLING ******************************/
/*************************************************************************/



/* ------------------GLOBAL MAIN STYLING ------------------ */


:root{
    --sidePadding: calc((15 /16 * 1rem) + ((130 - 15) * ((100vw - 320px) / (1920 - 320))));
    --headerHeight: calc((40 /16 * 1rem) + ((80 - 40) * ((100vw - 320px) / (1920 - 320))));
    --sectionMargin: calc((150 /16 * 1rem) + ((340 - 150) * ((100vw - 320px) / (1920 - 320))));
    --sectionMargin-half: calc(var(--sectionMargin) / 2);
    
    /* Main Colors */
    --c-dark: #2c3033;
    --c-offDark: #363a3c;
    --c-light: #fefaf9;
    --c-offLight: #f5f1f0;
    --c-accent: #e56969;
}


*{
	/* Removes certain default style */
	padding: 0;
	margin: 0;
	text-decoration: none;
    background: none;
	border: none;

	/* Replaces certain default style */
	box-sizing: border-box;
}

body{
    background-color: var(--c-dark);
}

html{
    color: var(--c-light);
}


section, main{
    /* Gap size underneath each section */
    margin-bottom: var(--sectionMargin);

    /* Overall side gutter size */
    padding: 0 var(--sidePadding);

    scroll-margin-top: var(--headerHeight);
}
article{
    margin-bottom: var(--sectionMargin);

}

img{
    max-width: 100%;
    display: block;
}


/* ------------------GLOBAL BUTTONS------------------ */


/* Default Button Styling */







/* ------------------GLOBAL TYPOGRAPGY------------------ */

/* Default text Styling */







/* Custom text Styling */





/*************************************************************************/
/******************************* HEADER **********************************/
/*************************************************************************/



header{
    width: 100%;
    height: var(--headerHeight);

    background-color: var(--c-offDark);
    
    display: flex;
    z-index: 3;

    justify-content: space-between;
    align-items: center;

    padding: 0 var(--sidePadding);
    position: sticky;
    top: 0;
}
.header-hamburger-button{
    width: calc((22 /16 * 1rem) + ((60 - 22) * ((100vw - 320px) / (1920 - 320))));
    height: calc((3 /16 * 1rem) + ((6 - 3) * ((100vw - 320px) / (1920 - 320))));
    background-color: var(--c-light);
    position: relative;
}
.header-hamburger-button::before{
    right: 0;
    position: absolute;
    content: '';
    top: 200%;
    width: 70%;
    height: calc((3 /16 * 1rem) + ((6 - 3) * ((100vw - 320px) / (1920 - 320))));
    background-color: var(--c-light);
}
.header-hamburger-button::after{
    right: 0;
    position: absolute;
    content: '';
    bottom: 200%;
    width: 70%;
    height: calc((3 /16 * 1rem) + ((6 - 3) * ((100vw - 320px) / (1920 - 320))));
    background-color: var(--c-light);
}
.header-nav * {
    font-family: sourceCode;
    font-size: calc((16 /16 * 1rem) + ((24 - 16) * ((100vw - 320px) / (1920 - 320))));
    color: var(--c-ligth);
}


.header-nav{
    z-index: 3;
    position: fixed;
    display: none;

    top: var(--headerHeight);
    right: 0;
    bottom: 0;
    padding-left: calc((30 /16 * 1rem) + ((100 - 30) * ((100vw - 320px) / (1920 - 320))));
    padding-right: calc((20 /16 * 1rem) + ((120 - 20) * ((100vw - 320px) / (1920 - 320))));

    background-color: var(--c-offDark);

    text-align: right;
}
.header-nav > ul > *:not(:last-child){
    margin-bottom: calc((20 /16 * 1rem) + ((60 - 20) * ((100vw - 320px) / (1920 - 320))));
}

.header-hamburger-checkbox{
    display: none;
}
.header-hamburger-checkbox:checked ~ .header-nav{
    display: block;
}


@media screen and (min-width:1100px) {
    header{
        background-color: var(--c-offDark);
    }
    
    
    .header-nav{
        top: 0;
        right: 0;
        left: 0;
        right: 0;
        display: inline-block;
        position: static;
        padding: 0;
    }
    .header-nav *{
        display: inline-block;
        margin-bottom: 0;
        background-color: var(--c-offDark);
        color: var(--c-light);
    }
    .header-label{
        display: none;
    }
    .header-nav > ul > *:not(:last-child){
        margin-bottom: 0;
        margin-right: calc((10 /16 * 1rem) + ((20 - 10) * ((100vw - 320px) / (1920 - 320))));
    }
}

@media screen and (max-width:1099px){
    .header-nav > ul:first-child{
        margin-top: calc((20 /16 * 1rem) + ((60 - 20) * ((100vw - 320px) / (1920 - 320))));
    }
}








/*************************************************************************/
/*************************** COMMON STYLING ******************************/
/*************************************************************************/




.--spread > *:not(:last-child){
    margin-bottom: calc((25 /16 * 1rem) + ((60 - 25) * ((100vw - 320px) / (1920 - 320))));
}

.--li-spread > *:not(:last-child){
    margin-bottom: calc((13 /16 * 1rem) + ((25 - 13) * ((100vw - 320px) / (1920 - 320))));
}

.--split{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}

.--split2{
    display: grid;
    gap: calc((30 /16 * 1rem) + ((160 - 30) * ((100vw - 320px) / (1920 - 320))));
    grid-template-columns: 1fr 1fr;
}
















