{% extends "boilerplate/boilerplate.njk" %}

{% block links %}
    {{ super() }}
    <link rel="Preloads" as="font/otf" href="/assets/LEMONMILK-Regular.otf">
    <link rel="Preloads" as="font/otf" href="/assets/LEMONMILK-Bold.otf">
    <link rel="Preloads" as="font/otf" href="/assets/LEMONMILK-Light.otf">
    <link rel="Preloads" as="font/woff2" href="/assets/open-sans-regular.woff2">
    <link rel="Preloads" as="font/woff2" href="/assets/source-code-pro-regular.woff2">
{% endblock %}