<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ title }}</title>
    <meta name="description" content="Show the World Digital: Where websites aren't just tools, they're your business's secret weapon. Quick-loading, SEO-smart, and tailored for Canadian small businesses. Expect more than just a pretty page – we deliver results without the fluff.">

    <link rel="stylesheet" href="/styles/main.css">
    {% block links %}
    {% endblock %}
</head>


<!-- Google tag (gtag.js) -->
<script async src="https://www.googletagmanager.com/gtag/js?id=G-5QVEKYTDNS"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'G-5QVEKYTDNS');
</script>

<body>
    {% if hasHeader | default(true) %}
        {% include "layouts/header.html" %}
    {% endif %}


    {% block content %}
    {% endblock %}


    {% if hasFooter | default(true) %}
        {% include "layouts/footer.html" %}
    {% endif %}
</body>
</html>