<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ title }}</title>
    
    {% include "boilerplate/base_head.njk" %}
    <link rel="stylesheet" href="/styles/components.css">
    <link rel="stylesheet" href="/styles/components/components.css">

</head>
<body>
    {% if hasHeader %}
        {% include "layouts/header.html" %}
    {% endif %}


    {{content | safe}}

    {% if hasFooter %}
        <br>-----------------------------------------------------<br>
        FOOTER HERE
    {% endif %}
</body>
</html>