


.intro{
    background-color: var(--c-light);
    padding: calc(var(--sectionMargin-half) /2) calc((30 /16 * 1rem) + ((600 - 30) * ((100vw - 320px) / (1920 - 320))));
    color: var(--c-dark);
    margin-bottom: 0;

    text-align: justify;
}





.goal{
    background-color: var(--c-offLight);
    color: var(--c-dark);

    padding: var(--sectionMargin-half) calc( 2 * var(--sidePadding));
    margin-bottom: 0;

    display: grid;
    grid-template-columns: 2fr 1fr;
}
.goal-h2{
    width: fit-content;
    background-color: var(--c-lightOff);
    position: relative;
}
.goal-h2::after{
    position: absolute;
    content: '';

    border-color: var(--c-accent);
    border-bottom-style: solid;
    border-right-style: solid;
    border-width: 20px;
    border-radius: 10px;

    bottom: -50%;
    right: -10%;
    top: 60%;
    left: 10%;
    
}

@media screen and (max-width:1400px){
    .goal{
        display: block;

        text-align: center;
    }

    .goal-h2{
        width: 100%;

        margin-bottom: 50px;
    }
}
@media screen and (max-width:650px){
    .goal-p{
        text-align: left;
    }
    
}




.why{
    padding-top: var(--sectionMargin-half);
    padding-bottom: var(--sectionMargin-half);
    
    background-color: var(--c-light);

    color: var(--c-dark);
}

.why-h2{
    text-align: center;
    margin-bottom: var(--sectionMargin-half);
}
.why1{
    grid-template-columns: 1fr 1.2fr;
}

.why2{
    grid-template-columns: 1.2fr 1fr;
}

.why2-container{
    margin-top: auto;
}
.why4{
    margin: 0;
}

.why-image{
    position: relative;
}
.why-img{
    width: 90%;
    margin: auto;
    position: relative;
}

/* .::before{
    position: absolute;
    content: '';
    background-color: var(--c-accent);
}

.::before{
    width: 110%;
    height: 110%;
    right: -10%;
} */

@media screen and (max-width:1300px) {
    .why-img1, .why-img2, .why-img3{
        height: 100%;
        object-fit: cover;
    }

    .why-img3{
        object-position: left;
    }
}
@media screen and (max-width:800px) {

    .why-img1, .why-img3{
        margin-bottom: 50px;
    }
    .why-img2, .why-img4{
        margin-top: 50px;
    }

    .why1, .why2, .why3, .why4{
        display: block;

    }

    .why-img{
        width: 100%;
    }
}


footer{
    background-color: var(--c-dark);
}

footer *{
    color: var(--c-light);
}

.footer-seperator{
    background-color: var(--c-light);
}

.logo-footer::before, .logo-footer::after{
    color: var(--c-light);
}


.--b-big::before{
    background-color: white;
}
.--b-big::after{
    border-color: white;

}

