/****************************************************************************/
/********************************* RESET ************************************/
/****************************************************************************/

*{
    margin: 0;
    padding: 0;
    background: none;
    border: 0;
    color: black;
    font-size: 1rem;
    font-style: normal;
    font-family: sans-serif;
    text-decoration: none;
    list-style: none;
    font-weight: 500;
    box-sizing: border-box;
}



/****************************************************************************/
/********************************* SIZES ************************************/
/****************************************************************************/

:root{
    --size-headerHeight: calc((60 /16 * 1rem) + ((80 - 60) * ((100vw - 320px) / (1920 - 320))));
    --size-spacing1: calc((20 /16 * 1rem) + ((40 - 20) * ((100vw - 320px) / (1920 - 320))));
    --size-gutterSpacing: calc((15 /16 * 1rem) + ((150 - 15) * ((100vw - 320px) / (1920 - 320))));
    --size-sectionMargin: calc((150 /16 * 1rem) + ((340 - 150) * ((100vw - 320px) / (1920 - 320))));
}


@media screen and (max-width:950px){
    :root{
        --size-spacing1: calc((40 /16 * 1rem) + ((60 - 40) * ((100vw - 320px) / (1920 - 320))));
    }
    
}


/*****************************************************************************/
/********************************* COLORS ************************************/
/*****************************************************************************/

:root, .colorMain{
    --c-dark: #2c3033;
    --c-dark2: #363a3c;
    --c-light: #fefaf9;
    --c-light2: #f5f1f0;
    --c-accent: #e56969;
    --c-accent2: #fd7979;
}

.colorInverse{
    --c-light: #2c3033;
    --c-light2: #363a3c;
    --c-dark: #fefaf9;
    --c-dark2: #f5f1f0;

    background-color: #fefaf9;
}



/******************************************************************************/
/********************************* GENERAL ************************************/
/******************************************************************************/


body{
    background-color: var(--c-dark);
}

*{
    color: var(--c-light);
}


header{
    padding: 0 var(--size-gutterSpacing);
}

section, main, article{
    padding: calc(var(--size-sectionMargin) / 2) var(--size-gutterSpacing);
}

footer{
    padding: calc(var(--size-sectionMargin) /4) var(--size-gutterSpacing);
}

button, a{
    display: block;
    width: fit-content;
}


img{
    width: 100%;
    height: 100%;
}



/******************************************************************************/
/********************************* BUTTONS ************************************/
/******************************************************************************/

button, a{
    cursor: pointer;

    display: block;
    width: max-content;
    height: min-content;

    text-align: center;

    /* Padding Sizes */
}

/* Custom Button Stylings */
a, button{
    transition: all 0.2s;
}
.--b-1{
    color: var(--c-light);
    background-color: var(--c-dark);
    font-family: lemonMilk-light;
    padding: 0.7em;
    border-radius: calc((2 /16 * 1rem) + ((4 - 2) * ((100vw - 320px) / (1920 - 320))));
    font-weight: 100;
    font-size: calc((18 /16 * 1rem) + ((28 - 18) * ((100vw - 320px) / (1920 - 320))));
    border-style: solid;
    border-width: calc((1 /16 * 1rem) + ((2 - 1) * ((100vw - 320px) / (1920 - 320))));

}
.--b-1:hover{
    background-color: var(--c-light);
    color: var(--c-dark);
}

/* .--b-3{
    color: var(--c-accent);
}
.--b-3:hover{
    background-color: var(--c-accent);
    color: var(--c-dark);
}
.--b-4{
    background-color: var(--c-offLight);
    color:var(--c-dark);
}
.--b-4:hover{
    background-color: var(--c-offDark);
    color: var(--c-light);
} */
.--b-big{
    position: relative;
    z-index: 2;
    width: min-content;
}
.--b-big a{
    transition: all 0.2s cubic-bezier(0.21, 1.26, 0.61, 1.38);
}
.--b-big .--b-1{
    box-shadow: 0px 10px 0px 0px var(--c-light);
}
.--b-big .--b-1:hover{
    color: var(--c-light);
    background-color: var(--c-dark);
    transform: translateY(6px);
}
.--b-big::after{
    position: absolute;
    content: '';
    z-index: -2;

    --padding: -9px;
    top: calc(17% + var(--padding));
    bottom: calc(-17% + var(--padding));
    right: var(--padding);
    left: var(--padding);

    border-radius: calc((2 /16 * 1rem) + ((4 - 2) * ((100vw - 320px) / (1920 - 320))));
    border-style: solid;
    border-width: 7px;
    border-color: var(--c-light);
}

.--b-learnMore{
    color: var(--c-light);
    border-style: none;
    font-family: openSans;    
    font-size: calc((15 /16 * 1rem) + ((25 - 15) * ((100vw - 320px) / (1920 - 320))));
    font-weight: 600;
    text-decoration: underline;
    padding: 0;
    background: none;
}
.--b-learnMore:hover{
    color: var(--c-accent);
}

.--btn-nav::before{
    content: '< ';
}
.--btn-nav::after{
    content: ' >';
}

.--btn-nav{
    font-family: sourceCode;
    font-size: calc((16 /16 * 1rem) + ((20 - 16) * ((100vw - 320px) / (1920 - 320))));
    color: var(--c-light);

    border: none;
    background: none;
}

.--btn-nav:hover{
    color: var(--c-accent);
    font-weight: 1000;
    transform: translateY(1px);
}

/*****************************************************************************/
/******************************* TYPOGRAPHY **********************************/
/*****************************************************************************/



@font-face {
    font-display: swap;
    font-family: lemonMilk-bold;
    src: url(/assets/LEMONMILK-Bold.otf);
}


@font-face {
    font-display: swap;
    font-family: lemonMilk-light;
    src: url(/assets/LEMONMILK-Light.otf);
}


@font-face {
    font-display: swap;
    font-family: lemonMilk-regular;
    font-style: normal;
    font-weight: 400;
    src: url(/assets/LEMONMILK-Regular.otf);
}


@font-face {
    font-display: swap;
    font-family: sourceCode;
    font-style: normal;
    font-weight: 400;
    src: url(/assets/source-code-pro-regular.woff2) format('woff2');
}

@font-face {
    font-display: swap;
    font-family: openSans;
    font-style: normal;
    font-weight: 400;
    src: url(/assets/open-sans-regular.woff2) format('woff2');
}


p, li{
    font-family: openSans;
    font-size: calc((16 /16 * 1rem) + ((22 - 16) * ((100vw - 320px) / (1920 - 320))));
}

.--t-pBig{
    background-color: var(--c-dark);
    font-size: calc((20 /16 * 1rem) + ((40 - 20) * ((100vw - 320px) / (1920 - 320))));
}

h2, h2 >*{
    font-family: lemonMilk-regular;
    font-weight: normal;
    font-size: calc((35 /16 * 1rem) + ((110 - 35) * ((100vw - 320px) / (1920 - 320))));
}

.h2-2{
    font-family: sourceCode;
    font-size: calc((60 /16 * 1rem) + ((150 - 60) * ((100vw - 320px) / (1920 - 320))));
    font-weight: 900;
    line-height: 0.9;
}
.h2-3, .h2-3 > *{
    font-weight: 500;
    font-family: sourceCode;
}


.--t-sub{
    font-size: 0.25em;
}
@media screen and (max-width:1000px) {
    .--t-sub{
        font-size: 0.5em;
    }
}

h3{
    font-family: lemonMilk-bold;
    font-size: calc((20 /16 * 1rem) + ((30 - 20) * ((100vw - 320px) / (1920 - 320))));

}
.h3-2, .h3-2 >{
    font-family: sourceCode;
    font-weight: 500;
    font-size: calc((30 /16 * 1rem) + ((50 - 30) * ((100vw - 320px) / (1920 - 320))));
}



h1{
    font-family: lemonMilk-regular;
    font-weight: bolder;
    font-size: calc((50 /16 * 1rem) + ((150 - 50) * ((100vw - 320px) / (1920 - 320))));
}


/*****************************************************************************/
/******************************** STLYINGS ***********************************/
/*****************************************************************************/




.--outsetShadow{
    border-radius: 20px;
    -webkit-box-shadow: 0px 0px 12px -4px rgba(0,0,0,0.4); 
    box-shadow: 0px 0px 12px -4px rgba(0,0,0,0.4);
}
.--insetShadow{
    border-radius: 20px;
    -webkit-box-shadow: inset 0px 0px 10px 1px #000000; 
    box-shadow: inset 0px 0px 10px 1px #000000;
}

.--insetShadow2{
    border-radius: 20px;
    -webkit-box-shadow: inset 0px 0px 12px -4px rgba(0,0,0,0.4); 
    box-shadow: inset 0px 0px 12px -4px rgba(0,0,0,0.4);
}

.--bg-main2{
    background-color: var(--c-dark2);
}


.--bg-blueprint{
    background-size: 20vw 20vw;
    background-image:
    linear-gradient(to right, rgb(255, 255, 255, 0.2) 0.1px, transparent 4px),
    linear-gradient(to bottom, rgb(255, 255, 255, 0.2) 0.1px, transparent 4px);
}



.--spread-1 > *:not(:last-child){
    margin-bottom: 0.5em;
}
.--spread-2 > *:not(:last-child){
    margin-bottom: 1em;
}
.--spread-3 > *:not(:last-child){
    margin-bottom: 2em;
}
.--spread-even > *:not(:last-child){
    margin-bottom: calc(var(--size-spacing1) / 2);
}



.styleBand{
    overflow-x: hidden;
    background-color: var(--c-accent);
}
.styleBand-span{
    white-space: nowrap;
    font-family: lemonMilk-bold;
    font-size: calc((30 /16 * 1rem) + ((70 - 30) * ((100vw - 320px) / (1920 - 320))));
    opacity: 0.2;
    font-style: italic;
    transform: translateX(100px);
    user-select: none;
}




.logo{
    display: inline-block;
    
    z-index: 0;
    color: var(--c-accent);
    position: relative;
    --offset: 4px;

    transition: all 0.3s cubic-bezier(0.21, 0.58, 0, 2.76);
}
.logo::before, .logo::after, .logo{
    font-size: calc((25 /16 * 1rem) + ((50 - 25) * ((100vw - 320px) / (1920 - 320))));
    font-family: lemonMilk-bold;
    font-style: italic;
}
.logo::before, .logo::after{
    content: "STW";
    color: var(--c-light);
    position: absolute;
}
.logo::before{
    z-index: -1;
    top: var(--offset);
    left: var(--offset);
}
.logo::after{
    z-index: 1;
    bottom: var(--offset);
    right: var(--offset);
}

.logo-footer::before, .logo-footer::after{
    color: var(--c-dark);
}
.logo-footer::before, .logo-footer::after, .logo-footer{
    font-size: calc((100 /16 * 1rem) + ((150 - 100) * ((100vw - 320px) / (1920 - 320))));
}

.logo:hover{
    transform: scale(1.1);
}