.form-h2{
    text-align: center;
    color: var(--c-dark);
    background-color: var(--c-light);

    font-family: lemonMilk-medium;

    padding: calc((20 /16 * 1rem) + ((50 - 20) * ((100vw - 320px) / (1920 - 320)))) 0;
    margin: 0 calc(-1 * var(--sidePadding));
    margin-bottom: calc((20 /16 * 1rem) + ((40 - 20) * ((100vw - 320px) / (1920 - 320))));
}

form{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}



.form-content{
    grid-template-columns: 1fr 1.3fr;
}

.form-subContainer {
    position: relative;
    margin-bottom: 20px;
}

textarea{
    height: calc((100 /16 * 1rem) + ((200 - 100) * ((100vw - 320px) / (1920 - 320))));
}

input, textarea {
    display: block;
    width: 100%;
    padding: 10px 0;
    border-bottom: 1px solid var(--c-light);
}

input:focus, textarea:focus{
    width: 100%;
    padding: 10px 0;
    /* outline: none; */
    border-bottom: 1px solid var(--c-light);
}



label {
    position: absolute;
    top: 0;
    /* transform: translateY(-50%); */

    transition: all 0.3s ease;
    pointer-events: none;
}

.form-container{
    background-color: var(--c-accent);

    margin-left: calc(-1 * var(--sidePadding));
    padding: calc((20 /16 * 1rem) + ((100 - 20) * ((100vw - 320px) / (1920 - 320))));
    padding-left: var(--sidePadding);
}
.form-container * {
    color: var(--c-dark);
    display: block;
}

