.form-h2{
    text-align: center;
    color: var(--c-dark);
    background-color: var(--c-light);

    font-family: lemonMilk-medium;

    padding: calc((20 /16 * 1rem) + ((50 - 20) * ((100vw - 320px) / (1920 - 320)))) 0;
    margin: 0 calc(-1 * var(--sidePadding));
    margin-bottom: calc((40 /16 * 1rem) + ((100 - 40) * ((100vw - 320px) / (1920 - 320))));
}

.form-content{
    grid-template-columns: 1fr 1.3fr;
}

.form-h3{
    font-size: calc((40 /16 * 1rem) + ((60 - 40) * ((100vw - 320px) / (1920 - 320))));
}
.form-p{
    font-family: sourceCode;
    font-weight: 400;

    max-width: 440px;
}
.form-a{
    font-family: sourceCode;
    font-size: calc((16 /16 * 1rem) + ((34 - 16) * ((100vw - 320px) / (1920 - 320))));
    font-weight: 800;

    position: relative;

    transition: 0.1s;
}
.form-a:hover{
    transform: scaleY(1.2);
}
.form-a::before{
    content: '';
    position: absolute;
    left: -10%;
    top: 50%;
    transform: translateY(-50%);

    background-size: contain;
    background-repeat: no-repeat;

    height: 35px;
    width: 35px;
}
.form-phone::before{
    background-image: url(../Assets/icon-phone.svg);
}
.form-mail::before{
    background-image: url(../Assets/icon-email.svg);
}
.form-web::before{
    background-image: url(../Assets/icon-globe.svg);
}


form{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.form-subContainer {
    position: relative;
    margin-bottom: 30px;
}

textarea{
    height: calc((120 /16 * 1rem) + ((200 - 120) * ((100vw - 320px) / (1920 - 320))));
}
.form-input{
    height: calc((10 /16 * 1rem) + ((60 - 10) * ((100vw - 320px) / (1920 - 320))));
}

.form-input, textarea {
    display: block;
    width: 100%;
    padding: 10px 0;
    border-bottom: calc((1 /16 * 1rem) + ((3 - 1) * ((100vw - 320px) / (1920 - 320)))) solid var(--c-light);

    font-family: sourceCode;
    color: var(--c-accent);
    font-weight: 300;
    font-size: calc((15 /16 * 1rem) + ((30 - 15) * ((100vw - 320px) / (1920 - 320))));
}

.form-input:focus, textarea:focus{
    outline: none;
}

.form-input:focus ~ .form-label, .form-input:not(:placeholder-shown) ~ .form-label,
textarea:focus ~ .form-label, textarea:not(:placeholder-shown) ~ .form-label{
    top: -9px;
    font-size: calc((8 /16 * 1rem) + ((12 - 8) * ((100vw - 320px) / (1920 - 320))));
}

.form-label {
    position: absolute;
    top: 0;

    font-family: lemonMilk-regular;
    font-size: calc((14 /16 * 1rem) + ((18 - 14) * ((100vw - 320px) / (1920 - 320))));

    transition: all 0.4s ease;
    pointer-events: none;
}

.form-container{
    background-color: var(--c-accent);

    margin-left: calc(-1 * var(--sidePadding));
    padding: calc((60 /16 * 1rem) + ((150 - 60) * ((100vw - 320px) / (1920 - 320)))) 0;
    padding-left: var(--sidePadding);
}
.form-container * {
    color: var(--c-dark);
    display: block;
}


@media screen and (max-width:1300px){
    .form-content{
        grid-template-columns: 1fr;
        grid-template-rows: 1 1;
    }

    .form-a::before{
        display: none;
    }
}




footer{
    background-color: var(--c-dark);
}

footer *{
    color: var(--c-light);
}

.footer-seperator{
    background-color: var(--c-light);
}

.logo-footer::before, .logo-footer::after{
    color: var(--c-light);
}