*{
    --shadow: 0px 0px 12px -4px rgba(0,0,0,0.4); 
}

h2:not(.ctaCard h2){
    position: relative;
    font-size: calc((30 /16 * 1rem) + ((95 - 30) * ((100vw - 320px) / (1920 - 320))));
    margin-bottom: calc((50 /16 * 1rem) + ((120 - 50) * ((100vw - 320px) / (1920 - 320))));
}
h2:not(.ctaCard h2):before{
    position: absolute;
    font-size: calc((12 /16 * 1rem) + ((40 - 12) * ((100vw - 320px) / (1920 - 320))));
    color: var(--c-accent);
    bottom: calc(-1 * ((20 /16 * 1rem) + ((50 - 20) * ((100vw - 320px) / (1920 - 320)))));
    width: max-content;
}




.support-h2::before{
    content: 'Included In Price';
}
.custom-h2::before{
    content: 'To Represent Your Brand';
}
.access-h2::before{
    content: 'So You Can Reach Your Customers';
}
.research-h2::before{
    content: 'So Your Website Is Specialised For You';
    left: 50%;
    transform: translateX(-50%);
}
.seo-h2::before{
    content: 'So That You Get Seen';
    left: 50%;
    transform: translateX(-50%);
}
.landing-h2::before{
    content: 'To Boost Your Rankings';
    left: 50%;
    transform: translateX(-50%);
}





.offers{
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    color: var(--c-dark);
    background-color: var(--c-offLight);
    padding-top: var(--sectionMargin-half);
    padding-bottom: var(--sectionMargin-half);
    margin-bottom: 0;
}

.offers-card{
    z-index: 1;
    padding: calc((25 /16 * 1rem) + ((45 - 25) * ((100vw - 320px) / (1920 - 320))));
    /* width: calc((250 /16 * 1rem) + ((475 - 250) * ((100vw - 320px) / (1920 - 320)))); */
    width: min-content;
    position: relative;
}
.offers-card::before{
    z-index: -1;
    position: absolute;
    content: '';
    bottom: 0;
    right: 0;
    left: 0;
    top: calc((42 /16 * 1rem) + ((70 - 42) * ((100vw - 320px) / (1920 - 320))));
    background-color: var(--c-light);
    
    border-radius: 20px;
    box-shadow: var(--shadow);
    -webkit-box-shadow: var(--shadow);
}
.offers-card *{
    margin: auto;
    width: fit-content;
}
.offers-price{
    font-family: sourceCode;
    font-size: calc((150 /16 * 1rem) + ((250 - 150) * ((100vw - 320px) / (1920 - 320))));
    font-weight: 500;

    letter-spacing: -0.14em;

    position: relative;
}
.offers-price::before{
    content: '$';
    position: absolute;
    font-size: 0.4em;
    left: calc(-1 *((25 /16 * 1rem) + ((50 - 25) * ((100vw - 320px) / (1920 - 320)))));
}
.offers-price-host::after{
    content: '/mo';
    position: absolute;

    right: calc(-1 *((50 /16 * 1rem) + ((90 - 50) * ((100vw - 320px) / (1920 - 320)))));
    bottom: 0.5em;

    font-size: 0.2em;
    letter-spacing: normal;
}
.offers-h3{
    text-align: center;
    font-family: lemonMilk-regular;
    font-size: calc((25 /16 * 1rem) + ((40 - 25) * ((100vw - 320px) / (1920 - 320))));
}
.offers-p{
    margin-bottom: calc((20 /16 * 1rem) + ((40 - 20) * ((100vw - 320px) / (1920 - 320))));
}
.offers-card a{
    width: max-content;
    padding: calc((18 /16 * 1rem) + ((24 - 18) * ((100vw - 320px) / (1920 - 320))));
}




.support{
    padding-top: var(--sectionMargin-half);
    padding-bottom: var(--sectionMargin-half);
    background-color: var(--c-offLight);
    margin-bottom: 0;
}
.support * {
    color: var(--c-dark);
}



.ourSites{
    background-color: var(--c-light);
    padding-top: var(--sectionMargin-half);
    display: flex;

    margin-bottom: var(--sectionMargin-half);
    padding-bottom: var(--sectionMargin-half);
}
.ourSites *{
    color: var(--c-dark);
}

.ourSites-h2{
    margin-right: calc((0 /16 * 1rem) + ((150 - 0) * ((100vw - 320px) / (1920 - 320))));
}

.ourSites-container{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 100px;
}

.ourSites-card{
    position: relative;

    height: 0px;
    padding-bottom: 100%;

    background-color: var(--c-offLight);
    border-radius: 40px;

    box-shadow: inset var(--shadow);
}
.ourSites-subContainer{
    padding: calc((18 /16 * 1rem) + ((30 - 18) * ((100vw - 320px) / (1920 - 320))));
}
.ourSites-subContainer > *:not(:last-child){
    margin-bottom: calc((8 /16 * 1rem) + ((30 - 8) * ((100vw - 320px) / (1920 - 320))));
}
.ourSites-h3{
    font-family: sourceCode;
    font-weight: 600;
    font-size: calc((22 /16 * 1rem) + ((40 - 22) * ((100vw - 320px) / (1920 - 320))));
}
.ourSites-p{
    font-size: calc((16 /16 * 1rem) + ((22 - 16) * ((100vw - 320px) / (1920 - 320))));
}
.ourSites .--b-learnMore{
    font-family: openSans;
}
.--b-learnMore{
    font-size: calc((16 /16 * 1rem) + ((28 - 16) * ((100vw - 320px) / (1920 - 320))));
}


.ourSites-icon{
    position: absolute;
    width: calc((40 /16 * 1rem) + ((65 - 40) * ((100vw - 320px) / (1920 - 320))));

    top: 6%;
    right: 6%;
}



@media screen and (max-width:1720px){

    .ourSites-container{
        gap: 25px;
    }
}

@media screen and (max-width:1530px){

    .ourSites{
        flex-direction: column;
    }

    .ourSites-container{
        gap: 180px;
    }
}

@media screen and (max-width:1245px){
    .ourSites-container{
        gap: 20px;
    }
}

@media screen and (max-width:760px){
    
    .ourSites-container{
        grid-template-columns: 1fr;
    }
    .ourSites-h2{
        margin-right: 0;
        margin-bottom: calc((20 /16 * 1rem) + ((150 - 20) * ((100vw - 320px) / (1920 - 320))));
    }

    .ourSites{
        padding-left: calc((15 /16 * 1rem) + ((200 - 15) * ((100vw - 320px) / (756 - 320))));
        padding-right: calc((15 /16 * 1rem) + ((200 - 15) * ((100vw - 320px) / (756 - 320))));
    }
}




.custom{
    display: grid;
    grid-template-columns: 1fr 1.75fr;
    gap: calc((0 /16 * 1rem) + ((150 - 0) * ((100vw - 900px) / (1920 - 900))));
}
.custom-h2{
    font-size: calc((32 /16 * 1rem) + ((95 - 32) * ((100vw - 320px) / (1920 - 320))));
    margin-bottom: 0;
}

@media screen and (max-width:1300px){
    .custom{
       grid-template-columns: 1fr 1fr;

    }
    .custom-img{
        margin-left: calc(-1 * var(--sidePadding));
        height: 100%;
        object-fit: cover;
        object-position: right;
    }
    
}

@media screen and (max-width:700px){
    .custom{
        grid-template-columns: 1fr;
        gap: 100px;
    }
    .custom-img{
        margin-left: 0;
    }
}


.access{
    padding-left: calc(1.6 * var(--sidePadding));
    padding-right: calc(1.6 * var(--sidePadding));
    margin-bottom: var(--sectionMargin-half);
}
.access-p{
    text-align: justify;
}
.access-container{
    display: flex;
    align-items: center;
}
.access-subContainer{
    flex: 1;
}
.access-h2{
    font-size: calc((20 /16 * 1rem) + ((95 - 20) * ((100vw - 320px) / (1920 - 320))));
}
.access-h3{
    color: var(--c-accent);
    margin-bottom: 5px;
}
.access-img1{
    margin-left: var(--sidePadding);
}
.access-img2{
    display: none;
}
@media screen and (max-width:1330px){
    .access{
        padding-left: var(--sidePadding);
        padding-right: var(--sidePadding);
    }
    .access-img2{
        display: block;
        margin-top: 50px;
        width: 100%;
        height: 100%;

        object-fit: containe;
    }
    .access-img1{
        display: none;
    }
    .access-image{
        margin-right: calc(-1 * var(--sidePadding));
        margin-left: calc(-1 * var(--sidePadding));
        height: calc((300 /16 * 1rem) + ((600 - 300) * ((100vw - 320px) / (1920 - 320))));

    }
    .access-container{
        display: block;
    }
    .access-subContainer{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        gap: calc((40 /16 * 1rem) + ((80 - 40) * ((100vw - 320px) / (1920 - 320))));
    }
}

@media screen and (max-width:1200px){
    .access-subContainer{
        grid-template-columns: 1fr;
        gap: 0;

        padding: 0 calc(var(--sidePadding));
    }
    
    
}

@media screen and (max-width:991px){
    .access-h2{
        font-size: 100px;
    }
}

@media screen and (max-width:650px){
    .access-h2{
        text-align: center;
        margin: auto;
        width: min-content;
    }

    .access-h2::before{
        left: 0;
    }
}

@media screen and (max-width:340px){
    .access-h2{
        text-align: left;
        /* margin: 0; */
    }
}




.research{
    margin-top: var(--sectionMargin-half);
}
.research-h2{
    text-align: center;
}
.research-h3{
    font-size: 40px;
}

.research-container{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 100px;


    position: relative;
    z-index: 1;
    --padding: -45px;
}
.research-container::before{
    z-index: -1;
    content: '';
    position: absolute;
    bottom: var(--padding);
    right: var(--padding);
    left: var(--padding);
    top: 8%;
    
    background-color: var(--c-offDark);
}
.research-p{
    font-family: sourceCode;
}
@media screen and (max-width:1200px){
    .research-container::before{
        display: none;
    }

    .research-card{
        display: flex;
        justify-content: space-between;
    }

    .research-container{
        grid-template-columns: 1fr;
        padding: 10px;
        background-color: var(--c-offDark);
    }

    .research-container::before{
        top: 0;
    }

    .research-p{
        width: 360px;
    }
    
    .research-h2{
        text-align: left;
    }
    .research-h2::before{
        left: 0;
        transform: translateX(0);
    }
}

@media screen and (max-width:720px){
    .research-card{
        flex-direction: column;
    }
    .research-p{
        width: 100%;
    }
    .research-h3{
        font-size: calc((20 /16 * 1rem) + ((40 - 20) * ((100vw - 320px) / (1920 - 320))));
    }
}




.seo-container{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: calc((40 /16 * 1rem) + ((220 - 40) * ((100vw - 320px) / (1920 - 320))));

    --padding: -3px;
}
.seo-card{
    position: relative;
    z-index: 2;
    height: fit-content;
}
.seo-card::before{
    position: absolute;
    content: '';
    z-index: -2;
    top: var(--padding);
    left: var(--padding);
    
    width: 10%;
    padding-top: 10%;
    
    background-color: var(--c-accent);
}
.seo-card::after{
    position: absolute;
    content: '';
    z-index: -2;
    right: var(--padding);
    top: var(--padding);
    bottom: var(--padding);
    
    width: 8%;
    background-color: var(--c-accent);
}
.seo-h3, .seo-p{
    padding: 20px;
    background-color: var(--c-dark);
}
.seo-p{
    padding-bottom: 20px;

    font-family: sourceCode;
}
.seo-h3{
    font-family: sourceCode;
    font-weight: 500;
    font-size: calc((25 /16 * 1rem) + ((50 - 25) * ((100vw - 320px) / (1920 - 320))));
    line-height: 0.5;
}
.seo-h2{
    text-align: center;
}
@media screen and (max-width:870px){
    .seo-container{
        grid-template-columns: 1fr;
    }

    .seo-h2{
        text-align: left;
    }
    .seo-h2::before{
        left: 0;
        transform: translateX(0);
    }
}

@media screen and (max-width:500px){
    .seo-card::after{
        right: var(--padding);
        top: auto;
        left: var(--padding);
        bottom: var(--padding);
        
        height: 12%;
        width: auto;
        background-color: var(--c-accent);
    }
}




.landing{
    padding: 0 calc(2 *var(--sidePadding));
}
.landing-h2{
    text-align: center;
}

@media screen and (max-width:500px){
    .landing-h2{
        text-align: left;
    }
    .landing-h2::before{
        left: 0;
        transform: translateX(0);
    }
}



.cta{
    padding-top: var(--sectionMargin-half);
    padding-bottom: var(--sectionMargin-half);
    background-color: var(--c-offLight);
    margin-bottom: 0;
}
.cta h2, .cta p{
    color: var(--c-dark);
}
.cta-h2Last::after{
    background-color: var(--c-dark);
}