/*************************************************************************/
/*************************** GLOBAL STYLING ******************************/
/*************************************************************************/



/* ------------------GLOBAL MAIN STYLING ------------------ */


:root{
    --sidePadding: calc((20 /16 * 1rem) + ((130 - 20) * ((100vw - 320px) / (1920 - 320))));
    --headerHeight: calc((60 /16 * 1rem) + ((100 - 60) * ((100vw - 320px) / (1920 - 320))));
    --sectionMargin: calc((150 /16 * 1rem) + ((340 - 150) * ((100vw - 320px) / (1920 - 320))));

    
    /* Main Colors */
    --c-dark: #2c3033;
    --c-light: #fefaf9;
    --c-accent: #e8d181;
}


*{
	/* Removes certain default style */
	padding: 0;
	margin: 0;
	text-decoration: none;
    background: none;
	border: none;

	/* Replaces certain default style */
	box-sizing: border-box;
}

body{
    background-color: var(--c-dark);
}

html{
    color: var(--c-light);
}


section{
    /* Gap size underneath each section */
    margin-bottom: var(--sectionMargin);

    /* Overall side gutter size */
    padding: 0 var(--sidePadding);
}
article{
    margin-bottom: var(--sectionMargin);

}

img{
    max-width: 100%;
    display: block;
}


/* ------------------GLOBAL BUTTONS------------------ */


/* Default Button Styling */

button, .a-button{
    display: block;
    width: max-content;
    height: min-content;

    /* Padding Sizes */
    padding: calc((20 /16 * 1rem) + ((26 - 20) * ((100vw - 320px) / (1920 - 320))));
    border-radius: calc((2 /16 * 1rem) + ((6 - 2) * ((100vw - 320px) / (1920 - 320))));

    font-family: lemonMilk-light;
    font-weight: 100;
    font-size: calc((18 /16 * 1rem) + ((30 - 18) * ((100vw - 320px) / (1920 - 320))));

    color: var(--c-light);

    border-style: solid;
    border-width: calc((1 /16 * 1rem) + ((2 - 1) * ((100vw - 320px) / (1920 - 320))));
}

/* Custom Button Stylings */
.--b-1{
    color:var(--c-dark);
}
.--b-2{
    color:var(--c-accent);
}

.--b-learnMore{
    color: var(--c-light);
    border-style: none;
    font-family: sourceCode;    
    font-weight: 500;
    text-decoration: underline;
    padding: 0;

}

/* ------------------GLOBAL TYPOGRAPGY------------------ */

/* Default text Styling */

h1, h2, h3{
    font-family: lemonMilk-medium;
}


h1{
    
    /* Font Size */
    font-size: calc((50 /16 * 1rem) + ((150 - 50) * ((100vw - 320px) / (1920 - 320))));
    font-weight: 200;
}

h2{
    font-family: lemonMilk-light;
    font-weight: 100;
    /* Font Size */
    font-size: calc((35 /16 * 1rem) + ((110 - 35) * ((100vw - 320px) / (1920 - 320))));
}

h3{
    /* Font Size */
    font-size: calc((20 /16 * 1rem) + ((30 - 20) * ((100vw - 320px) / (1920 - 320))));
}

p{
    font-family: openSans;
}

p, li{
    /* Font Size */
    font-size: calc((16 /16 * 1rem) + ((28 - 16) * ((100vw - 320px) / (1920 - 320))));
}

ul{
    list-style: none;
}



@font-face {
    font-family: lemonMilk-bold;
    src: url(../Assets/LEMONMILK-Bold.otf);
}

@font-face {
    font-family: lemonMilk-medium;
    src: url(../Assets/LEMONMILK-Medium.otf);
}

@font-face {
    font-family: lemonMilk-regular;
    src: url(../Assets/LEMONMILK-Regular.otf);
}

@font-face {
    font-family: lemonMilk-light;
    src: url(../Assets/LEMONMILK-Light.otf);
}

@font-face {
    font-family: sourceCode;
    src: url(../Assets/SourceCodePro-VariableFont_wght.ttf);
}

@font-face {
    font-family: openSans;
    src: url(../Assets/OpenSans-VariableFont_wdth\,wght.ttf);
}

/* Custom text Styling */


.--t-sub{
    font-size: 0.25em;
}
@media screen and (max-width:1000px) {
    .--t-sub{
        font-size: 0.5em;
    }
}


/*************************************************************************/
/******************************* HEADER **********************************/
/*************************************************************************/



header{
    width: 100%;
    height: var(--headerHeight);
    
    display: flex;
    z-index: 3;

    justify-content: space-between;
    align-items: center;

    padding: 0 var(--sidePadding);
    position: sticky;
    top: 0;
}
.header-hamburger-button{
    width: calc((22 /16 * 1rem) + ((70 - 22) * ((100vw - 320px) / (1920 - 320))));
    height: calc((3 /16 * 1rem) + ((10 - 3) * ((100vw - 320px) / (1920 - 320))));
    background-color: var(--c-ligh);
    position: relative;
}
.header-hamburger-button::before{
    right: 0;
    position: absolute;
    content: '';
    top: 200%;
    width: 70%;
    height: calc((3 /16 * 1rem) + ((10 - 3) * ((100vw - 320px) / (1920 - 320))));
    background-color: var(--c-light);
}
.header-hamburger-button::after{
    right: 0;
    position: absolute;
    content: '';
    bottom: 200%;
    width: 70%;
    height: calc((3 /16 * 1rem) + ((10 - 3) * ((100vw - 320px) / (1920 - 320))));
    background-color: var(--c-light);
}
.header-nav * {
    font-family: sourceCode;
    color: var(--c-dark);
}

.header-nav a::before{
    content: '< ';
}
.header-nav a::after{
    content: ' >';
}

.header-nav{
    z-index: 3;
    position: fixed;
    display: none;

    top: calc((60 /16 * 1rem) + ((100 - 60) * ((100vw - 320px) / (1920 - 320))) - 2px);
    right: 0;
    bottom: 0;
    padding-left: calc((30 /16 * 1rem) + ((100 - 30) * ((100vw - 320px) / (1920 - 320))));
    padding-right: calc((20 /16 * 1rem) + ((120 - 20) * ((100vw - 320px) / (1920 - 320))));

    background-color: var(--c-light);

    text-align: right;
}
.header-nav > ul > *:not(:last-child){
    margin-bottom: calc((10 /16 * 1rem) + ((300 - 10) * ((100vw - 320px) / (1920 - 320))));
}

.header-hamburger-checkbox{
    display: none;
}
.header-hamburger-checkbox:checked ~ .header-nav{
    display: block;
}


@media screen and (min-width:950px) {
    header{
        background-color: var(--c-dark);
    }
    
    .header-nav{
        top: 0;
        right: 0;
        left: 0;
        right: 0;
        display: inline-block;
        position: static;
        padding: 0;
    }
    .header-nav *{
        display: inline-block;
        margin-bottom: 0;
        background-color: var(--c-dark);
        color: var(--c-light);
    }
    .header-label{
        display: none;
    }
    .header-nav > ul > *:not(:last-child){
        margin-bottom: 0;
        margin-right: calc((10 /16 * 1rem) + ((20 - 10) * ((100vw - 320px) / (1920 - 320))));
    }
}
@media screen and (max-width:950px) {
    .hero-seperator{
        display: none;
    }

    header{
        position: fixed;
    }

    .hero-h1-pre{
        margin-top: var(--headerHeight);
    }
}






/*************************************************************************/
/******************************* FOOTER **********************************/
/*************************************************************************/





footer *{
    color: var(--c-dark);
}
footer{
    background-color: var(--c-light);

    padding: calc((50 /16 * 1rem) + ((80 - 50) * ((100vw - 320px) / (1920 - 320)))) 0;
}

.footer-h4{
    font-family: lemonMilk-regular;
    font-weight: 900;
    font-size: calc((18 /16 * 1rem) + ((35 - 18) * ((100vw - 320px) / (1920 - 320))));
    margin-bottom: calc((20 /16 * 1rem) + ((40 - 20) * ((100vw - 320px) / (1920 - 320))));
}
.footer-p, .footer-nav *, .footer-small{
    font-family: sourceCode;
    font-size: calc((15 /16 * 1rem) + ((20 - 15) * ((100vw - 320px) / (1920 - 320))));
    font-weight: 200;
}
.footer-nav * {
    font-weight: 400;

    margin-bottom: calc((10 /16 * 1rem) + ((30 - 10) * ((100vw - 320px) / (1920 - 320))));
}

.footer-container{
    display: flex;
    align-items: flex-start;
    justify-content: space-between;

    flex-wrap: wrap;

    gap: calc((40 /16 * 1rem) + ((90 - 40) * ((100vw - 320px) / (1920 - 320))));
}
.footer-subContainer{
    width: calc((280 /16 * 1rem) + ((400 - 280) * ((100vw - 320px) / (1920 - 320))));
    margin: 0 auto;
}
.footer-3{
    width: max-content;
}

.footer-seperator{
    width: 70%;
    height: calc((1 /16 * 1rem) + ((4 - 1) * ((100vw - 320px) / (1920 - 320))));
    background-color: var(--c-dark);
    margin: calc((50 /16 * 1rem) + ((80 - 50) * ((100vw - 320px) / (1920 - 320)))) auto;
}

.footer-small{
    display: block;
    width: max-content;
    margin: auto;

    font-size: calc((8 /16 * 1rem) + ((23 - 8) * ((100vw - 320px) / (1920 - 320))));
    font-weight: 500;
}


/*************************************************************************/
/*************************** COMMON STYLING ******************************/
/*************************************************************************/




.--spread > *:not(:last-child){
    margin-bottom: calc((25 /16 * 1rem) + ((60 - 25) * ((100vw - 320px) / (1920 - 320))));
}

.--li-spread > *:not(:last-child){
    margin-bottom: calc((13 /16 * 1rem) + ((25 - 13) * ((100vw - 320px) / (1920 - 320))));
}

.--split{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}

.--split2{
    display: grid;
    gap: calc((30 /16 * 1rem) + ((160 - 30) * ((100vw - 320px) / (1920 - 320))));
    grid-template-columns: 1fr 1fr;
}




.ctaCard{
    margin-bottom: 30px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
}
.ctaCard-heading{
    font-family: sourceCode;
    font-size: calc((60 /16 * 1rem) + ((150 - 60) * ((100vw - 320px) / (1920 - 320))));
    font-weight: 900;

    line-height: calc((100 /16 * 1rem) + ((150 - 100) * ((100vw - 320px) / (1920 - 320))));
}
.ctaCard a{
    margin-left: auto;
}





.cta *{
    margin: auto;
}
.cta-h2{
    text-align: center;
    font-weight: 500;
    font-family: sourceCode;
}

.cta-h2First{
    position: relative;
}
.cta-h2First::before{
    position: absolute;
    content: '$';
    left: -30%;
}
.cta-h2Last{
    position: relative;
}

@keyframes blink {
    0%, 50% {
      opacity: 1;
    }
    50.01%, 100% {
      opacity: 0;
    }
}
.cta-h2Last::after{
    content: '';
    position: absolute;
    right: -4%;
    top: 30%;
    
    background-color: var(--c-light);

    height: 55%;
    width: 1%;
    border-radius: 10px;

    animation: blink 1s infinite;
}

.cta-p{
    text-align: center;
    width: calc((280 /16 * 1rem) + ((1100 - 280) * ((100vw - 320px) / (1920 - 320))));
}




.subHero{
    height: calc((200 /16 * 1rem) + ((400 - 200) * ((100vw - 320px) / (1920 - 320))));
    display: flex;
}

.subHero-h1{
    width: 100%;
    display: flex;
    flex-direction: column;
    margin: auto;
    text-align: center;
}
.subHero-highlight::before{
    position: absolute;
    top: -3%;
    left: 50%;
    transform: translateX(-50%);
    content: '';
    
    height: 4px;
    width: 62%;
    background-color: var(--c-light);
}
.subHero-highlight::after{
    position: absolute;
    bottom: -6%;
    left: 50%;
    transform: translateX(-50%);
    content: '';
    
    height: 4px;
    width: 62%;
    background-color: var(--c-light);
}
.subHero-highlight{
    margin: auto;
    width: min-content;
    position: relative;
}