/*************************************************************************/
/*************************** GLOBAL STYLING ******************************/
/*************************************************************************/



/* ------------------GLOBAL MAIN STYLING ------------------ */


:root{
    /* Main Colors */
    --c-dark: #2c3033;
    --c-light: #fefaf9;
    --c-accent: #e8d181;
}


*{
	/* Removes certain default style */
	padding: 0;
	margin: 0;
	text-decoration: none;
    background: none;
	border: none;

	/* Replaces certain default style */
	box-sizing: border-box;
}

body{
    background-color: var(--c-dark);
}

html{
    color: var(--c-light);
}


section{
    /* Gap size underneath each section */
    margin-bottom: calc((150 /16 * 1rem) + ((340 - 150) * ((100vw - 320px) / (1920 - 320))));

    /* Overall side gutter size */
    padding: 0 calc((20 /16 * 1rem) + ((130 - 20) * ((100vw - 320px) / (1920 - 320))));
}


img{
    max-width: 100%;
    display: block;
}


/* ------------------GLOBAL BUTTONS------------------ */


/* Default Button Styling */

button, .a-button{
    display: block;
    width: max-content;
    height: min-content;

    /* Padding Sizes */
    padding: calc((20 /16 * 1rem) + ((26 - 20) * ((100vw - 320px) / (1920 - 320))));
    border-radius: calc((2 /16 * 1rem) + ((6 - 2) * ((100vw - 320px) / (1920 - 320))));

    font-family: lemonMilk-light;
    font-weight: 100;
    font-size: calc((18 /16 * 1rem) + ((30 - 18) * ((100vw - 320px) / (1920 - 320))));

    color: var(--c-light);

    border-style: solid;
    border-width: calc((1 /16 * 1rem) + ((2 - 1) * ((100vw - 320px) / (1920 - 320))));
}

/* Custom Button Stylings */
.--b-1{
    color:var(--c-dark)

}

.--b-learnMore{
    border-style: none;
    font-family: sourceCode;    
    font-weight: 500;
    text-decoration: underline;
    padding: 0;
}

/* ------------------GLOBAL TYPOGRAPGY------------------ */

/* Default text Styling */

h1, h2, h3{
    font-family: lemonMilk-medium;
}


h1{
    
    /* Font Size */
    font-size: calc((50 /16 * 1rem) + ((150 - 50) * ((100vw - 320px) / (1920 - 320))));
}

h2{
    font-family: lemonMilk-light;
    font-weight: 100;
    /* Font Size */
    font-size: calc((35 /16 * 1rem) + ((110 - 35) * ((100vw - 320px) / (1920 - 320))));
}

h3{
    /* Font Size */
    font-size: calc((20 /16 * 1rem) + ((30 - 20) * ((100vw - 320px) / (1920 - 320))));
}

p{
    font-family: openSans;
}

p, li{
    /* Font Size */
    font-size: calc((16 /16 * 1rem) + ((28 - 16) * ((100vw - 320px) / (1920 - 320))));
}

ul{
    list-style: none;
}



@font-face {
    font-family: lemonMilk-bold;
    src: url(../Assets/LEMONMILK-Bold.otf);
}

@font-face {
    font-family: lemonMilk-medium;
    src: url(../Assets/LEMONMILK-Medium.otf);
}

@font-face {
    font-family: lemonMilk-regular;
    src: url(../Assets/LEMONMILK-Regular.otf);
}

@font-face {
    font-family: lemonMilk-light;
    src: url(../Assets/LEMONMILK-Light.otf);
}

@font-face {
    font-family: sourceCode;
    src: url(../Assets/SourceCodePro-VariableFont_wght.ttf);
}

@font-face {
    font-family: openSans;
    src: url(../Assets/OpenSans-VariableFont_wdth\,wght.ttf);
}

/* Custom text Styling */


.--t-sub{
    font-size: 0.25em;
}
@media screen and (max-width:1000px) {
    .--t-sub{
        font-size: 0.5em;
    }
}


/*************************************************************************/
/******************************* HEADER **********************************/
/*************************************************************************/








/*************************************************************************/
/******************************* FOOTER **********************************/
/*************************************************************************/











/*************************************************************************/
/*************************** COMMON STYLING ******************************/
/*************************************************************************/




.--spread > *:not(:last-child){
    margin-bottom: calc((25 /16 * 1rem) + ((60 - 25) * ((100vw - 320px) / (1920 - 320))));
}

.--li-spread > *:not(:last-child){
    margin-bottom: calc((13 /16 * 1rem) + ((25 - 13) * ((100vw - 320px) / (1920 - 320))));
}

.--split{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}

.--split2{
    display: grid;
    gap: calc((30 /16 * 1rem) + ((160 - 30) * ((100vw - 320px) / (1920 - 320))));
    grid-template-columns: 1fr 1fr;
}




.ctaCard{
    margin-bottom: 30px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
}
.ctaCard-heading{
    font-family: sourceCode;
    font-size: calc((60 /16 * 1rem) + ((150 - 60) * ((100vw - 320px) / (1920 - 320))));
    font-weight: 900;

    line-height: calc((100 /16 * 1rem) + ((150 - 100) * ((100vw - 320px) / (1920 - 320))));
}
.ctaCard a{
    margin-left: auto;
}