<div class="hero-seperator"></div>
<header>
    <a class="logo" href="/">STW</a>

    <label class="header-label" for="hamburger">
        <div class="header-hamburger-button"></div>
    </label>
    <input type="checkbox" class="header-hamburger-checkbox" name="hamburger" id="hamburger">
    <nav class="header-nav">
        <ul>
            <li><a class="header-button" href="/about">About</a></li>
            <li><a class="header-button" href="/services">Services</a></li>
            <li><a class="header-button" href="/blog">Blog</a></li>
            <li><a class="header-button" href="/contact">Contact Us</a></li>
        </ul>
    </nav>
</header>