---
    title: Web Design With SEO For Small Businesses
---


{% extends "boilerplate/base.njk" %}

{% block links %}
    <link rel="stylesheet" href="/styles/contact.css">
{% endblock %}


{% block content %}
    <section class="subHero">
        <h1 class="subHero-h1  subHero-highlight">Contact Us</h1>
    </section>


    <section class="form" id="form">
        <h2 class="colorInverse">Let's Start Talking</h2>
        <div class="container">
            <div class="subContainer --spread-2">
                <h3>Contact Info</h3>
                <p class="form-p">Reach out to us through our contact form. Alternatively, you can use the provided contact information to get in touch.</p>
                <a class="form-a form-phone" href="tel:+5149463014">514 - 946 - 3014</a>
                <a class="form-a form-mail" href="mailto:a.william.20047@gmail.com">info@showtheworld.digital</a>
                <a class="form-a form-web" href="https://showtheworld.digital">showtheworld.digital</a>
            </div>
            <form name="contact" method="POST" data-netlify="true">
                <div class="form-subContainer">
                    <input class='form-input' placeholder=" " type="text" id="name" required name="name">
                    <label class='form-label' for="name">Name</label>
                </div>
                <div class="form-subContainer">
                    <input class='form-input' placeholder=" " type="tel" id="phone" required name="phone">
                    <label class='form-label' for="phone">Phone</label>
                </div>
                <div class="form-subContainer">
                    <input class='form-input' placeholder=" " type="email" id="email" required name="email">
                    <label class='form-label' for="email">Email</label>
                </div>
                <div class="form-subContainer">
                    <textarea placeholder=" " id="message" required name="message"></textarea>
                    <label class='form-label' for="message">Message</label>
                </div>

                <button class="a-button --b-1" type="submit">Send</button>
            </form>
        </div>
    </section>
{% endblock %}