---
title: Home
---
{% extends "boilerplate/base.njk" %}


{% block content %}
    <section class="hero">
        <h1>Show The World</h1>

        <div class="container --l-twoSplitColumn">
            <p class="--t-pBig">At Show the World, we're on a mission to empower small businesses. With our beautifully designed and SEO-optimized websites, we'll handle your website needs while you focus on what truly matters - growing your business.</p>

            <div class="imgWrapper">
                <img class="service-img" src="/assets/service-img.jpg" alt="">
            </div>
        </div>
    </section>


    <section class="--l-beyond colorInverse --spread-1">
        <h2>Beyond <span class="--t-sub">A Website</span></h2>
        <div class="container --bg-main2 --l-threeSplitColumn --insetShadow">
            <div class="--spread-2">
                <h3>Tailored To Each Business</h3>
                <p>Picture this: a website that mirrors your brand's soul, not just slaps on a pretty face. Our goal is to, understand the essence of your business, then reflect it back in the design. It's like your brand's fingerprint – unique, unmistakable, unapologetically yours. We don't do cookie-cutter here; we craft digital reflections that resonate with your identity.</p>
            </div>
            <div class="--spread-2">
                <h3>Search Engine Optimized</h3>
                <p>Our websites are SEO savvy, not just in words but in action. They load with a snap, embracing accessibility standards like a pro. From color contrast to web reader friendliness, we've got it covered. And the content? It's like a magnet for keywords, drawing in the right crowd. We build websites that do more than just look good – they work smart.</p>
            </div>
            <div class="--spread-2">
                <h3>Research Based Design</h3>
                <p>Our sites are built with a clear goal in mind. We carefully design and structure each page to not just attract visitors, but to encourage them to take action. It's about smart layout and intuitive design, guiding them towards requesting a quote or reaching out to you.</p>
            </div>
        </div>
    </section>


    <div class="beyond-imgContainer">
        <img loading="lazy" class="beyond-img" src="/assets/beyond.png" alt="">
    </div>




    {% include "layouts/cta-card.njk" %}




    <section class="ourProcess colorInverse --spread-1">
        <h2>Our Process</h2>

        <div class="container">
            <div class="card">
                <img loading="lazy" src="/assets/process-1.svg" alt="">
                <h3 class="h3-2">Consult</h3>
            </div>
            <div class="card">
                <img loading="lazy" src="/assets/process-2.svg" alt="">
                <h3 class="h3-2">Design</h3>
            </div>
            <div class="card">
                <img loading="lazy" src="/assets/process-3.svg" alt="">
                <h3 class="h3-2">Code</h3>
            </div>
            <div class="card">
                <img loading="lazy" src="/assets/process-4.svg" alt="">
                <h3 class="h3-2">Deploy</h3>
            </div>
        </div>
    </section>

    


    <section class="what --bg-blueprint">
        <h2>What Makes Us So Good?</h2>

        <div class="container container-right">
            <img loading="lazy" src="/assets/what-4.svg" alt="" class="what-img">

            <div class="subContainer --spread-1">
                <h3 >On-Page SEO</h3>
                <p>Think of Google as that picky eater; it's hard to please but not with us on your side. Our on-page SEO isn't just about throwing in keywords and hoping for the best. We delve deep into optimized content and keyword research, aligning with Google's Core Vitals. It's like giving Google exactly what it craves, making your competitors eat your digital dust.</p>
                <a href="./services.html#seo" class="--b-learnMore">Learn More</a>
            </div>
        </div>


        <div class="container container-left">
            <img loading="lazy" src="/assets/what-3.svg" alt="" class="what-img">

            <div class="subContainer --spread-1">
                <h3 >Our Designs</h3>
                <p>Your business isn't just another name in the market; it's a unique story waiting to be told. At Show the World, we don't just design websites; we craft digital identities. With our redesign options, we ensure your website isn't just a digital footprint but a mirror of your brand's soul. We tweak and twist until every pixel screams 'you'.</p>
                <a href="/services.html#design" class="--b-learnMore">Learn More</a>
            </div>
        </div>

        <div class="container container-right">
            <img loading="lazy" src="/assets/what-5.svg" alt="" class="what-img">

            <div class="subContainer --spread-1">
                <h3 >Fast Load Speeds</h3>
                <p>In the digital race, speed is king, and we're the ace up your sleeve. Our websites don't just load; they sprint, especially on mobile. With a guaranteed 95+/100 on Google's Core Vitals, we ensure your visitors stay, browse, and don't bounce all while appealing to google's speed preferences. Fast load times? More like lightning strikes.</p>
            </div>
        </div>

        <div class="container container-left">
            <img loading="lazy" src="/assets/what-2.svg" alt="" class="what-img">

            <div class="subContainer --spread-1">
                <h3 >Sales Based Layout</h3>
                <p>Every click on your website should be a step towards a sale. We don't just build websites; we construct digital sales funnels. Our strategic design ensures that every visitor is on a journey from 'just browsing' to 'shut up and take my money'.</p>
            </div>
        </div>

        <div class="container container-right">
            <img loading="lazy" src="/assets/what-1.svg" alt="" class="what-img">

            <div class="subContainer --spread-1">
                <h3 >Responsive Design</h3>
                <p>In a world where screens come in all shapes and sizes, your website needs to be a digital chameleon. Our responsive design ensures your site looks stunning on every device, adapting with grace and style. We use cutting-edge techniques, ensuring compatibility across a multitude of browsers. It's not just responsive; it's responsibly brilliant.</p>
                <a href="./services.html#access" class="--b-learnMore">Learn More</a>
            </div>
        </div>

        <div class="container container-left">
            <img loading="lazy" src="/assets/what-6.svg" alt="" class="what-img">

            <div class="subContainer --spread-1">
                <h3 >Accessible Design</h3>
                <p>We believe the digital world should be accessible to all, and our designs reflect that belief. Our websites are optimized for screen readers, and we adhere to WGAC's recommended practices, including color contrast. It's not just about building websites; it's about building bridges to inclusivity.</p>
                <a href="./services.html#access" class="--b-learnMore">Learn More</a>
            </div>
        </div>

        <div class="footNote"><span class="--t-sub">But You Don't Need To Worry About Any Of That,</span><br>Leave It To Us</div>
    </section>



    {% include "layouts/cta-light2.njk" %}
    
{% endblock %}