---
title: About Us
---


{% extends "boilerplate/base.njk" %}

{% block links %}
    <link rel="stylesheet" href="/styles/contact.css">
{% endblock %}


{% block content %}
    <section class="subHero">
        <h1 class="subHero-h1  subHero-highlight">About Us</h1>
    </section>


    <section class="bio colorInverse --spread-1">
        <h2 class="h2-3">The Owner</h2>
        <img src="/assets/william.jpg" alt="Image of William: the Owner">
        <p>Hey there! I'm William, a mechanical engineering student at UOttawa and a passionate web developer. I thrive on the thrill of building things – whether it's a tangible mechanical project or a sleek, efficient website. My journey in web development began out of curiosity and has grown into a craft I truly love. Balancing my studies with coding, I find joy in learning new technologies and applying them creatively. I'm all about bringing ideas to life and exploring the endless possibilities the web has to offer. Thanks for stopping by!</p>
    </section>


    <section class="why --bg-main2 colorInverse --l-twoSplitColumn">
        <div class="container --spread-1">
            <h2 class="h2-4">Why I Love Web Development</h2>
            <p>Programming has been a part of my life since I was a kid. From tinkering with code for fun to building practical solutions for school projects, I've always found joy in making things work. What started as a hobby turned into a way to support myself through college and, more importantly, a means to help others. I discovered that my knack for web development was particularly useful for small businesses, especially in the trades sector. Business owners are experts in their field, but diving into the online world can be daunting. I'm here to make that leap as smooth as possible, ensuring their valuable services get the online recognition they deserve. It's not just about websites for me; it's about creating connections and simplifying the digital world for those who shape our everyday lives.</p>
        </div>
        <div class="imgWrapper">
            <img src="/assets/why1-img1.jpg" alt="">
        </div>
    </section>


    {% include "layouts/cta-dark.njk" %}
{% endblock %}