---
title: Portfolio
portfolio:
  - link: https://demo-homeimprovement.netlify.app/
    darkColor: "#209c1c"
    lightColor: "#8cde8a"
    imageName: homeimprovement.jpg

  - link: https://stw-demo-general-contracting.netlify.app/
    darkColor: "#ad5732"
    lightColor: "#e89a79"
    imageName: general-contracting.jpg

  - link: https://demo-petpalz.netlify.app/
    darkColor: "#19558a"
    lightColor: "#7baedb"
    imageName: petpalz.jpg
---
{% extends "boilerplate/base.njk" %}


{% block content %}
    <section class="subHero">
        <h1 class="subHero-highlight">Our Portfolio</h1>
    </section>

    <section class="--layout-portfolio colorInverse">
        {% for website in portfolio %}
        <a href={{website.link}} class="--card-portfolio" style="--darkColor: {{website.darkColor}}; --lightColor: {{website.lightColor}};">
            <div class="imgWrapper"><img src="/assets/portfolio/{{website.imageName}}"></div>
        </a>
        {% endfor %}
    </section>
{% endblock %}