---
  title: Our Websites
---


{% extends "boilerplate/base.njk" %}


{% block content %}

    <section class="subHero">
        <h1 class="subHero-highlight">Our Services</h1>
    </section>



    {% include "layouts/styleBand.njk" %}


    <section class="offers colorInverse  --spread-3--bg-main2 --l-threeSplitCard">
        <div class="card --outsetShadow">
            <h3 class="offers-h3">Copywriting</h3>
            <div class="offers-price">0</div>
            <p>Words that breathe life into your brand, conveying your message with purpose and power.</p>
            <a href="/contact.html#form"class="--b-1">Let's Get In Touch</a>
        </div>

        <div class="card --outsetShadow">
            <h3 class="offers-h3">Graphic Design</h3>
            <div class="offers-price">0</div>
            <p>Complimentary designs tailored to your brand's needs, making visuals speak volumes.</p>
            <a href="/contact.html#form" class="--b-1">Let's Get In Touch</a>
        </div>

        <div class="card --outsetShadow">
            <h3 class="offers-h3">Hosting</h3>
            <div class="offers-price">30</div>
            <p>Reliable and lightning-fast hosting, ensuring your website is always open for business.</p>
            <a href="/contact.html#form" class="--b-1">Let's Get In Touch</a>
        </div>
    </section>


    <section class="design" id="design">
        <div class="imgWrapper"><img loading="lazy" src="/assets/custom.svg" alt=""></div>

        <div class="container --spread-2">
            <h2 class="h2-5">Tailored Designs<div class="--t-sub2">To Represent Your Brand</div></h2>
            <p>At Show the World, we believe your website should be as unique as your business. Through a back and forth process, we create a tailored design that perfectly captures the essence of your brand. A stunning website that reflects your vision, values, and personality. Stand out from the crowd and make a lasting impression with a website that truly represents who you are. Let your brand shine through every pixel.</p>
        </div>
    </section>



    <section class="access --spread-3" id="access">
        <h2 class="h2-5">Accessibile Development<div class="--t-sub2">To Reach Your Customers</div></h2>

        <div class="container">
            <div class="subContainer --spread-3">
                <div class="card --spread-1">
                    <h3>Responsive Design</h3>
                    <p>Our websites adapt flawlessly to any screen size, ensuring a seamless browsing experience for your customers. Engage them on desktop, mobile, or tablet, without missing a beat.</p>
                </div>
                <div class="card --spread-1">
                    <h3>Built For Assistive Technologies</h3>
                    <p>We prioritize inclusivity by crafting websites that are accessible to everyone, including those who rely on assistive technologies. Your content will be available to a wider audience, making a lasting impact.</p>
                </div>
                <div class="card --spread-1">
                    <h3>Browser-Friendly Development</h3>
                    <p>Our websites are built with compatibility in mind, performing optimally across all major browsers. Don't let technical barriers hinder your online presence; we've got you covered.</p>
                </div>
            </div>

            <div class="imgWrapper">
                <picture>
                    <source srcset="/assets/access-2.svg" media="(max-width: 1330px)">
                    <source srcset="/assets/access-1.svg" media="(min-width: 1331px)">
                    <img loading="lazy" src="/assets/access-2.svg" alt="">
                </picture>
            </div>
        </div>
    </section>




    {% include "layouts/cta-card-light.njk" %}




    <div class="--bg-blueprint">
        <section class="research --spread-3" id="research">
        <h2 class="h2-5">High Performance<div class="--t-sub2">To Reach Your Customers</div></h2>
            <div class="container">
                <div class="card --spread-2">
                    <h3>Keywords</h3>
                    <p class="research-p">Unlock the power of research. We delve into your competitors and industry to craft targeted keywords that set your website apart.</p>
                </div>
                <div class="card --spread-2">
                    <h3>Layout</h3>
                    <p class="research-p">Design that speaks volumes. Our layouts are meticulously crafted to captivate and convert visitors, delivering an satisfying user experience.</p>
                </div>
                <div class="card --spread-2">
                    <h3>Practices</h3>
                    <p class="research-p">Stay ahead of the curve. Our practices are inspired by thorough competitor and industry research, ensuring your website is at the forefront.</p>
                </div>
            </div>
        </section>

        <section class="seo --spread-3" id="seo">
        <h2 class="h2-5">Search Engine Optimized<div class="--t-sub2">To Reach Your Customers</div></h2>
        
            <div class="container">
                <div class="card">
                    <h3>Keyword Strategy</h3>
                    <p>We focus on selecting keywords that match your business and audience's needs. This approach is about understanding what potential customers are searching for and aligning your content with those terms. It's a practical step towards making your website more relevant and accessible, and brings you one step closer to ranking on google!</p>
                </div>
                <div class="card">
                    <h3>Load Speed</h3>
                    <p>Speed matters online. We optimize your website's load time to ensure it's quick and responsive. This is not just for a better user experience but also adheres to best practices that could benefit your site's visibility. Our goal is to make your website efficient and enjoyable for anyone who visits.</p>
                </div>
            </div>
        </section>
    </div>
    {% include "layouts/cta-light2.njk" %}

{% endblock %}